/* VENDOR - Default fall-backs and external files.
========================================================================== */
/*@import "normalize";*/
/* BASE - Base Variable file along with starting point Mixins and Placeholders.
========================================================================== */
/***************************** approved fonts *****************************/
/***************************** approved colors *****************************/
/* company primary color palette */
/* approved color tints */
/* company secondary color palette */
/* bootstrap color overrides */
/* bootstrap Sass variable overrides */
/* FRAMEWORK - Structure and layout files.
========================================================================== */
/*@import "framework/grid";*/
/*@import "framework/layout";*/
/* MODULES - Re-usable site elements.
========================================================================== */
.img-home {
  object-fit: cover;
  width: 300px;
  height: 230px; }

/* external packages
========================================================================== */
/*@import "bootstrap/bootstrap";*/
