body {
}


.divNoEditing {
    display: block;
}

.divYesEditing {
    display: none;
}

.divNoNewRow {
    display: block;
}

.divYesNewRow {
    display: none;
}


h2, h3 {
    text-align: center;
}